img {
    border: 0 none;
}

a {
    color: #0B76AE;
    text-decoration: none;
}

html {overflow-y: scroll;}

body {
    background-color:#888888;
    color:#333333;
    font-family: "Bitstream Vera Sans", "helvetica", "arial", sans-serif;
    margin:0;
    padding: 0px;
}

div#content {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background: #eeeeee;
}

.greeting {
    font-size: 2em;
    text-align: left;
    margin: 0 auto;
    padding-top: 50px;
}
